MeasureClient/Service References/ServiceReference1/MeasureService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MeasureService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMeasureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMeasureService_Prijavi_InputMessage">
    <wsdl:part name="parameters" element="tns:Prijavi" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_Odjavi_InputMessage">
    <wsdl:part name="parameters" element="tns:Odjavi" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_DodajMerenje_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajMerenje" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_DodajMerenje_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajMerenjeResponse" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_SvaMerenjaSaMeraca_InputMessage">
    <wsdl:part name="parameters" element="tns:SvaMerenjaSaMeraca" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_SvaMerenjaSaMeraca_OutputMessage">
    <wsdl:part name="parameters" element="tns:SvaMerenjaSaMeracaResponse" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_SviMomentiZaMerenjaLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:SviMomentiZaMerenjaLimit" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_SviMomentiZaMerenjaLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SviMomentiZaMerenjaLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_SviTrenuciZaMerenjaSaLokacije_InputMessage">
    <wsdl:part name="parameters" element="tns:SviTrenuciZaMerenjaSaLokacije" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_SviTrenuciZaMerenjaSaLokacije_OutputMessage">
    <wsdl:part name="parameters" element="tns:SviTrenuciZaMerenjaSaLokacijeResponse" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_ProsekLokacija_InputMessage">
    <wsdl:part name="parameters" element="tns:ProsekLokacija" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_ProsekLokacija_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProsekLokacijaResponse" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_NotifyOfMeasurement_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyOfMeasurement" />
  </wsdl:message>
  <wsdl:message name="IMeasureService_NotifyOfMeasurement_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyOfMeasurementResponse" />
  </wsdl:message>
  <wsdl:portType name="IMeasureService">
    <wsdl:operation name="Prijavi">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureService/Prijavi" message="tns:IMeasureService_Prijavi_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Odjavi">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureService/Odjavi" message="tns:IMeasureService_Odjavi_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DodajMerenje">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureService/DodajMerenje" message="tns:IMeasureService_DodajMerenje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasureService/DodajMerenjeResponse" message="tns:IMeasureService_DodajMerenje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SvaMerenjaSaMeraca">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureService/SvaMerenjaSaMeraca" message="tns:IMeasureService_SvaMerenjaSaMeraca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasureService/SvaMerenjaSaMeracaResponse" message="tns:IMeasureService_SvaMerenjaSaMeraca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SviMomentiZaMerenjaLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureService/SviMomentiZaMerenjaLimit" message="tns:IMeasureService_SviMomentiZaMerenjaLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasureService/SviMomentiZaMerenjaLimitResponse" message="tns:IMeasureService_SviMomentiZaMerenjaLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SviTrenuciZaMerenjaSaLokacije">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureService/SviTrenuciZaMerenjaSaLokacije" message="tns:IMeasureService_SviTrenuciZaMerenjaSaLokacije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasureService/SviTrenuciZaMerenjaSaLokacijeResponse" message="tns:IMeasureService_SviTrenuciZaMerenjaSaLokacije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProsekLokacija">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureService/ProsekLokacija" message="tns:IMeasureService_ProsekLokacija_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasureService/ProsekLokacijaResponse" message="tns:IMeasureService_ProsekLokacija_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyOfMeasurement">
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasureService/NotifyOfMeasurement" message="tns:IMeasureService_NotifyOfMeasurement_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureService/NotifyOfMeasurementResponse" message="tns:IMeasureService_NotifyOfMeasurement_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMeasureService" type="tns:IMeasureService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMeasureService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Prijavi">
      <soap12:operation soapAction="http://tempuri.org/IMeasureService/Prijavi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Odjavi">
      <soap12:operation soapAction="http://tempuri.org/IMeasureService/Odjavi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DodajMerenje">
      <soap12:operation soapAction="http://tempuri.org/IMeasureService/DodajMerenje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SvaMerenjaSaMeraca">
      <soap12:operation soapAction="http://tempuri.org/IMeasureService/SvaMerenjaSaMeraca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SviMomentiZaMerenjaLimit">
      <soap12:operation soapAction="http://tempuri.org/IMeasureService/SviMomentiZaMerenjaLimit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SviTrenuciZaMerenjaSaLokacije">
      <soap12:operation soapAction="http://tempuri.org/IMeasureService/SviTrenuciZaMerenjaSaLokacije" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProsekLokacija">
      <soap12:operation soapAction="http://tempuri.org/IMeasureService/ProsekLokacija" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyOfMeasurement">
      <soap12:operation soapAction="http://tempuri.org/IMeasureService/NotifyOfMeasurement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeasureService">
    <wsdl:port name="NetTcpBinding_IMeasureService" binding="tns:NetTcpBinding_IMeasureService">
      <soap12:address location="net.tcp://localhost:8090/MeasureService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/MeasureService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MILOS\MiloS</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>